WpfApplication2/Service References/ServiceReference1/create_wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:urunservis" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:urunservis" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:urunservis">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="Uye">
        <xsd:all>
          <xsd:element name="ad" type="xsd:string" />
          <xsd:element name="soyad" type="xsd:string" />
          <xsd:element name="tarih" type="xsd:date" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="uyeListe">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Uye" type="tns:Uye" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="vtBaglanRequest" />
  <wsdl:message name="vtBaglanResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="uyeDondurRequest" />
  <wsdl:message name="uyeDondurResponse">
    <wsdl:part name="return" type="tns:uyeListe" />
  </wsdl:message>
  <wsdl:message name="uyeKontrolRequest">
    <wsdl:part name="isim" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="uyeKontrolResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="urunservisPortType">
    <wsdl:operation name="vtBaglan">
      <documentation>Veri Tabanına Bağlanır</documentation>
      <wsdl:input message="tns:vtBaglanRequest" />
      <wsdl:output message="tns:vtBaglanResponse" />
    </wsdl:operation>
    <wsdl:operation name="uyeDondur">
      <documentation>Tum Uyeleri dondurur</documentation>
      <wsdl:input message="tns:uyeDondurRequest" />
      <wsdl:output message="tns:uyeDondurResponse" />
    </wsdl:operation>
    <wsdl:operation name="uyeKontrol">
      <documentation>Uye stok kontrolu yapar.</documentation>
      <wsdl:input message="tns:uyeKontrolRequest" />
      <wsdl:output message="tns:uyeKontrolResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="urunservisBinding" type="tns:urunservisPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="vtBaglan">
      <soap:operation soapAction="urn:urunservis#vtBaglan" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:urunservis" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:urunservis" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uyeDondur">
      <soap:operation soapAction="urn:urunservis#uyeDondur" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:urunservis" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:urunservis" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uyeKontrol">
      <soap:operation soapAction="urn:urunservis#uyeKontrol" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:urunservis" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:urunservis" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="urunservis">
    <wsdl:port name="urunservisPort" binding="tns:urunservisBinding">
      <soap:address location="http://gsancar.com/rpc/urunservis.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>